body {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  width: 75vw;
  max-width: 500px;
  box-shadow: 0px 0px 10px 1px #999;
  margin: 0 auto 15px auto;
  border-radius: 5px;
}

.card img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  padding: 11px;
}

h2 {
  font-size: 16px;
  margin: 0 0 3px 0;
}

h3 {
  font-size: 12px;
  margin: 0 0 3px 0;
}

p {
  font-size: 13px;
  margin: 5px 0 5px 0;
}
