body {
  background-color: #f6e4f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em 0;
  /* background-color: #bdceed; */
  background-color: #f6e6e4;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px grey;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #f6e6e4;
  display: flex;
  width: 75vw;
  max-width: 500px;
  box-shadow: 0px 0px 4px 1px grey;
  margin: 0 auto 15px auto;
  border-radius: 5px;
}

.card img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
}

.card-right {
  background-color: whitemoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  padding: 11px;
}

h2 {
  font-size: 16px;
  margin: 0 0 3px 0;
}

h3 {
  font-size: 12px;
  margin: 0 0 3px 0;
}

p {
  font-size: 13px;
  margin: 5px 0 5px 0;
}
