body {
  background-color: #f6e4f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  font-size: 3.5rem;
  text-align: center;
  margin: 1em auto;
  padding: 1em 0;
  /* background-color: #bdceed; */
  background-color: #f6e6e4;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px grey;
  max-width: 500px;
}

/* search bar   */
#search-container {
  max-width: 500px;
  display: flex;
  position: relative;
  align-items: center; /* Center items vertically */
  margin: 1em auto;
}

#search-container input {
  flex: 1; /* Allow input to take available space */
  padding: 0.5em 1em; /* Extra padding for the icon */
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  border-right: none; /* Remove right border */
  position: relative; /* For icon positioning */
}

#search-container input:focus {
  border: 1px solid #007bff;
}

#search-container i {
  position: absolute;
  right: 4em; /* Icon position */
  top: 30%;
}

#search-container button {
  padding: 0.5em;
  border: 1px solid grey;
  border-left: none; /* Remove left border */
  border-radius: 0 5px 5px 0; /* Round right corners */
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  cursor: pointer; /* Cursor change on hover */
}

#error-message {
  text-align: center;
}
/* end search bar */

.container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #f6e6e4;
  display: flex;
  width: 75vw;
  max-width: 500px;
  box-shadow: 0px 0px 4px 1px grey;
  margin: 0 auto 15px auto;
  border-radius: 5px;
}

.card img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
}

.card-right {
  background-color: whitemoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  padding: 11px;
}

h2 {
  font-size: 16px;
  margin: 0 0 3px 0;
}

h3 {
  font-size: 12px;
  margin: 0 0 3px 0;
}

p {
  font-size: 13px;
  margin: 5px 0 5px 0;
}
